@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
    @apply hidden;
  }
  
  .task-list-item {
    @apply list-none;
  }
  
  .footnotes {
    @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
  }
  
  .csl-entry {
    @apply my-5;
  }
  
  /* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  .section-headline {
    @apply font-bold sm:text-xl uppercase tracking-widest border-green-500 border-l-8 pl-2;
  }
  
  progress {
    margin-top: 0.5rem;
    width: 100%;
    height: 10px;
    margin-bottom: 0.4rem;
  }
  
  progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: #d1d5db;
    box-shadow: 0 2px 6px #555;
  }
  
  progress::-webkit-progress-value {
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(36deg, #d1fae5, #818cf8);
  }
  
  .section-headline {
    color: #10b981 !important;
  }